<video autoplay src={{videoSrc}}></video>
<video autoplay src={{remoteVideoSrc}}></video>
{{#if calling}}
  <button {{action "stopCall"}}>stop call</button>
{{else}}
  <button {{action "startCall"}}>start call</button>
{{/if}}